#other-ways-to-get-in-touch {
  margin-bottom: 0.5rem;
}

#other-ways-to-get-in-touch + h4 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0.75rem;
}

#where-to-find-me-on-the-web ~ ul, #other-ways-to-get-in-touch ~ ul {
  list-style-type: none;
  li {
    @include media-query($on-palm) {
      font-size: 0.75rem;
    }
    margin-bottom: 0.5rem;
  }
  @include media-query($on-palm) {
    padding-left: 0.25rem;
  }
}

.footnotes {
  ol, p {
    font-family: 'Lato', sans-serif;
    font-size: 0.625rem;
  }
}