@mixin headline-code() {
  background-color: $teal--verylight;
  color: $teal--dark;
  padding-bottom: 0.125rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.post-meta {
  .post-title {
    font-size: 1.75rem;
    margin-bottom: 0.375rem;

    code {
      @include headline-code();
    }
  }
  .post-tag {
    @include tag();
  }
}

.post-body {
  @include readable();

  .footnotes ol, .footnotes p {
    font-family: 'Gentium Book Basic', serif;
    font-size: 0.625rem;
    @include media-query($on-palm) {
      font-size: 0.5rem;
    }
  }

  blockquote {
    background-color: lighten($teal--medium, 67.5%);
    border: 0.075rem dashed $teal--medium;
    padding: 0.25rem 0.5rem;
    p {
      margin: 0;
    }
  }

  *:not(pre) > code {
    @include headline-code();
  }

  pre {
    font-size: 0.75rem;
    padding: 0.125rem 0.25rem;
  }

  ul > li, ol > li {
    font-size: 0.75rem;
  }
}
