.resume {
  a {
    text-decoration: underline;

    &:hover, &:active {
      text-decoration: underline;
    }
  }
  .mission {
    font-size: 0.625rem;
  }
  @include toc();
  summary {
    font-size: 0.625rem;
  }
  h2 {
    color: lighten($purple--verydark, 20%);
    font-size: 0.875rem;
  }
  h3 {
    color: lighten($purple--verydark, 15%);
    font-size: 0.75rem;
  }
  .skills-explainer {
    color: fade-out($purple--verydark, 0.35);
    font-size: 0.625rem;
    font-style: italic;
    font-weight: 400;
  }
  ol, p, table, ul {
    font-family: 'Gentium Book Basic', serif;
    font-size: 0.5rem;
  }
  #employment-history + table {
    background-color: lighten($teal--medium, 65%);
    border: none;
    td {
      border: none;
    }
    tr:nth-child(odd) {
      td {
        padding-bottom: 0.0625rem;
      }
      td:nth-child(odd) {
        color: lighten($purple--verydark, 15%);
      }
    }
    tr:nth-child(even) {
      td {
        padding-top: 0;
      }
      td:nth-child(even) {
        color: fade-out($purple--verydark, 0.35);
        font-style: italic;
      }
    }
  }
  #education + ul {
    list-style-type: none;
    padding-left: 0.5rem;
    li {
      margin-bottom: 0.5rem;
    }
  }
}